<div *ngIf="loading || waitingForOptimal" class="loading">
    <span *ngIf="loading" class="loading">
        Loading data
    </span>
    <span *ngIf="waitingForOptimal" class="loading">
        Trying to find best routes
    </span>
    <mat-progress-spinner mode="indeterminate" value="50" class="loading"></mat-progress-spinner>
</div>

<div *ngIf="!loading && !waitingForOptimal">
    <div class="title">
        <h4 class="font-weight-bold">Transport from {{data.route.from.city.name}} to {{data.route.to.city.name}} after {{data.route.hour}}</h4>
    </div>

    <div class="container row" *ngIf="optimalRoutes.length > 0">

        <div class="col-md-4 col-lg-4 col-sm-12">
            <ul class="list-group col-12 col-lg-12">
                <li class="list-group-item" *ngFor="let route of optimalRoutes; let isFirst = first" (click)="changeSelected(route)" [attr.id]=route.summary.id [class.selected]="isFirst">
                    <p class="route-title">{{route.summary.start_location.name}} - {{route.summary.end_location.name}}</p>
                    <p class="route-day">{{getDate(route.summary.departure_time.value).toDateString()}}</p>
                    <p class="route-times">{{route.summary.departure_time.text}}
                        <fa-icon icon="arrow-right" fixedWidth="true"></fa-icon>{{route.summary.arrival_time.text}}</p>
                    <p class="travel_time">
                        <fa-icon icon="clock" class="clock-icon"></fa-icon> {{route.summary.travel_time.text}}</p>
                    <p class="wait_time">
                        <mat-icon [inline]="true">timer_off</mat-icon> {{route.summary.wait_time.text}}</p>
                    <p class="transfers">
                        <mat-icon [inline]="true">timeline</mat-icon> {{route.summary.transfers}}</p>
                </li>
            </ul>
        </div>

        <div class="col-md-8 col-lg-8 col-sm-12">
            <h4><span class="summary-title">Details</span></h4>
            <a (click)="enableMap()" [hidden]="showMapView">
                <fa-icon icon="map-marked-alt" class="fa-lg"></fa-icon>
                Map view
            </a>
            <a (click)="showMapView = !showMapView" [hidden]="!showMapView">
                <fa-icon icon="align-justify" class="fa-lg"></fa-icon>
                Text view
            </a>

            <div class="col-md-10 col-lg-10 col-sm-12" [hidden]="showMapView">
                <div class="selected-bus" *ngIf="selectedRoute !== undefined">
                    <div *ngFor="let route of selectedRoute.route" [ngSwitch]="route.type">
                        <div *ngSwitchCase="'INTERNAL'">
                            <div>
                                <fa-icon icon="dot-circle" class="fa-lg color-purple"></fa-icon>
                                <div class="location start"><span>{{route.start_location.name}}, {{route.start_location.city.name}} <span class="time">{{route.departure_time.text}}</span></span>
                                </div>
                            </div>

                            <div class="bus-details">
                                <div class="travel-mode">
                                    <div class="travel-mode-icon">
                                        <mat-icon [inline]="true">directions_bus</mat-icon>
                                    </div>
                                    <div class="travel-mode-details">
                                        <p class="travel-mode-name">Bus</p>
                                        <p>{{convertToHummanReadable(route.duration.text)}}</p>
                                    </div>
                                </div>

                                <div>
                                    <p class="price" *ngIf="route.price">Price: <b>{{route.price}} LEI</b></p>
                                    <span>Empty seats: <b>{{route.empty_seats}}/{{route.total_places}}</b></span>
                                </div>

                                <a (click)="showBusStops = !showBusStops" [hidden]="showBusStops || route.steps.length == 0">Show intermediate stops</a>
                                <a (click)="showBusStops = !showBusStops" [hidden]="!showBusStops || route.steps.length == 0">Hide intermediate stops</a>
                                <div class="bus-stops" [hidden]="!showBusStops">
                                    <div *ngFor="let step of route.steps">
                                        <div *ngIf="step.end_location.id != route.end_location.id && step.end_location.id != route.start_location.id">
                                            <fa-icon icon="circle" class="fa-sm color-purple bus-stop-icon"></fa-icon>
                                            <span class="location">{{step.end_location.name}}, {{step.end_location.city.name}} <span class="time">{{step.arrival_time.text}}</span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <fa-icon icon="dot-circle" class="fa-lg color-purple"></fa-icon>
                                <div class="location end"><span>{{route.end_location.name}}, {{route.end_location.city.name}} <span class="time">{{route.arrival_time.text}}</span></span>
                                </div>
                            </div>

                            <div class="walk-details" *ngIf="route.wait_time">
                                <p>Wait {{convertToHummanReadable(route.wait_time.text)}}</p>
                            </div>
                        </div>

                        <div *ngSwitchCase="'EXTERNAL'">
                            <div *ngIf="isFirstWalking(route)">
                                <fa-icon icon="dot-circle" class="fa-lg color-purple"></fa-icon>
                                <div class="location start"><span>{{route.start_location.name}} <span class="time">{{route.departure_time.text}}</span></span>
                                </div>
                            </div>

                            <div *ngFor="let step of route.steps" [ngSwitch]="step.travel_mode">
                                <div *ngSwitchCase="'WALKING'" class="walk-details">
                                    <p [innerHTML]="step.html_instructions" class="step-title"></p>

                                    <div class="travel-mode">
                                        <div>
                                            <fa-icon icon="walking" class="fa-2x"></fa-icon>
                                        </div>
                                        <div>
                                            <p>Walk</p>
                                            <p>About {{convertToHummanReadable(step.duration.text)}}</p>
                                        </div>
                                    </div>
                                    <!-- <p>Walk informations:</p>
                                    <p *ngFor="let walk of step.steps" [innerHTML]="walk.html_instructions"></p> -->
                                    <p class="add-padding"></p>
                                </div>

                                <div *ngSwitchCase="'TRANSIT'">
                                    <div>
                                        <fa-icon icon="dot-circle" class="fa-lg color-purple"></fa-icon>
                                        <div class="location start"><span>{{step.transit_details.departure_stop.name}} <span class="time">{{step.transit_details.departure_time.text}}</span></span>
                                        </div>
                                    </div>

                                    <div class="bus-details">
                                        <span [innerHTML]="step.html_instructions" class="step-title"></span>
                                        <span class="font-weight-bold"> - {{step.transit_details.line.agencies[0].name}}</span><br>
                                        <a [href]="step.transit_details.line.agencies[0].url">{{step.transit_details.line.agencies[0].url}}</a>
                                        <div class="travel-mode">
                                            <div><img [src]="step.transit_details.line.vehicle.icon"></div>
                                            <div>
                                                <p>{{step.transit_details.line.vehicle.name}}</p>
                                                <p>{{convertToHummanReadable(step.duration.text)}} ({{step.transit_details.num_stops}} stops)</p>
                                            </div>
                                        </div>
                                        <p>For more details: {{step.transit_details.line.agencies[0].phone}}</p>
                                        <small class="form-text text-danger" *ngIf="step.price === undefined">Price is not available</small>
                                    </div>

                                    <div>
                                        <fa-icon icon="dot-circle" class="fa-lg color-purple"></fa-icon>
                                        <div class="location end"><span>{{step.transit_details.arrival_stop.name}} <span class="time">{{step.transit_details.arrival_time.text}}</span></span>
                                        </div>
                                    </div>

                                    <div class="walk-details" *ngIf="step.wait_time">
                                        <p>Wait {{convertToHummanReadable(step.wait_time.text)}}</p>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="isLastWalking(route)">
                                <fa-icon icon="dot-circle" class="fa-lg color-purple"></fa-icon>
                                <div class="location start"><span>{{route.end_location.name}} <span class="time">{{route.arrival_time.text}}</span></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div [hidden]="!showMapView" class="form-group col-md-8 col-lg-8 col-sm-12">
                <label class="form-control-label">Select a step to focus on map</label>
                <select class="form-control" id="leg" name="leg" [(ngModel)]="focusedLeg" (change)="fitSelectedLeg()">
                    <option [ngValue]="'all'">Entire route</option>
                    <option [ngValue]="leg.id" *ngFor="let leg of getDisplayedRouteLegs();">{{leg.name}}</option>
                </select>
                <div *ngIf="htmlInstructions">
                    <span>Instructions:</span><br>
                    <small class="margin-none form-text" *ngFor="let instr of htmlInstructions" [innerHTML]="instr"></small>
                </div>
                <div *ngIf="warnings">
                    <small class="margin-none form-text text-danger" *ngFor="let warn of warnings" [innerHTML]="warn"></small>
                </div>
            </div>

            <div #googlemap class="googlemap" [hidden]="!showMapView"></div>

            <div>
                <div class="all-data">
                    <h4><span class="summary-title">Route summary</span></h4>
                    <p><b>Departure:</b> {{getDate(selectedRoute.summary.departure_time.value).toDateString()}} at {{selectedRoute.summary.departure_time.text}} from {{selectedRoute.summary.start_location.name}}</p>
                    <p><b>Arrival:</b> {{getDate(selectedRoute.summary.arrival_time.value).toDateString()}} at {{selectedRoute.summary.arrival_time.text}} at {{selectedRoute.summary.end_location.name}}</p>
                    <p><b>Travel time:</b> {{convertToHummanReadable(selectedRoute.summary.travel_time.text)}}</p>
                    <p><b>Wait time:</b> {{convertToHummanReadable(selectedRoute.summary.wait_time.text)}}</p>
                    <p><b>Transfers on the route:</b> {{selectedRoute.summary.transfers - 1}}</p>
                    <p><b>Total price:</b> {{computePrice(selectedRoute)}} <small class="text-danger" *ngIf="!checkIfAllAreInternal(selectedRoute)">(The price for some legs is not available.)</small></p>
                    <button type="submit" id="booking-button" class="btn btn-primary" (click)="toBooking()" [disabled]="!availableBusesOnRoute()">Book now</button>
                </div>
                <small class="form-text text-info" *ngIf="availableBusesOnRoute()">
                    You can make a booking only for our buses.
                </small>
                <div *ngIf="cannotGoToBooking">
                    <small class="form-text text-danger">
                        You can not make a booking at the selected bus! <br>The bus has already left!
                    </small>
                </div>
                <div *ngIf="!availableBusesOnRoute()">
                    <small class="form-text text-danger">
                        We don't have available buses on this route.
                    </small>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>

    <div *ngIf="optimalRoutes.length === 0 && !waitingForOptimal && !loading" class="row justify-content-center">
        <div class="col-11 col-md-9">
            <h3>No routes found.</h3>
            <button type="submit" id="back-button" class="btn btn-primary" (click)="toMain()">Return to main</button>
        </div>
    </div>

    <div *ngIf="error" class="row justify-content-center">
        <div class="col-11 col-md-9">
            <h3>Something went wrong! Try again later!</h3>
            <button type="submit" id="back-button" class="btn btn-primary" (click)="toMain()">Return to main</button>
        </div>
    </div>
</div>