<div>
    <h2 id="page-heading">
        <span>Routes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-route" [routerLink]="['/route/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Route
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="routes">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="title"><span>Title</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="startStation"><span>Start Station</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="endStation"><span>End Station</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th><span>Stops</span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let route of routes ;trackBy: trackId">
                    <td>{{route.title}}</td>
                    <td>
                        <div *ngIf="route.startLocation">
                            <a [routerLink]="['/station', route.startLocation.id, 'view']">{{route.startLocation.name}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="route.endLocation">
                            <a [routerLink]="['/station', route.endLocation.id, 'view']">{{route.endLocation.name}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="route.intermediatePoints">
                            {{route.intermediatePoints.length}}
                        </div>
                        <div *ngIf="route.intermediatePoints === undefined">
                            0
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['/route', route.id, 'view' ]" class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                            <button type="submit" [routerLink]="['/route', route.id, 'edit']" class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                            <button type="submit" (click)="openDeletePopup(route.id)" class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="routes && routes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>