<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 *ngIf="settingsAccount">User details for [<b>{{settingsAccount.login}}</b>]</h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Details saved!</strong>
            </div>

            <!-- <jhi-alert-error></jhi-alert-error> -->

            <form name="form" role="form" (ngSubmit)="save()" #settingsForm="ngForm" *ngIf="userdetails" novalidate>

                <div class="form-group">
                    <label class="form-control-label" for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Your first name" [(ngModel)]="userdetails.firstName" minlength=1 maxlength=50 #firstNameInput="ngModel" required>
                    <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                        <small class="form-text text-danger" *ngIf="firstNameInput.errors.required">
                            Your first name is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="firstNameInput.errors.minlength">
                            Your first name is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger" *ngIf="firstNameInput.errors.maxlength">
                            Your first name cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Your last name" [(ngModel)]="userdetails.lastName" minlength=1 maxlength=50 #lastNameInput="ngModel" required>
                    <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                        <small class="form-text text-danger" *ngIf="lastNameInput.errors.required">
                            Your last name is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="lastNameInput.errors.minlength">
                            Your last name is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger" *ngIf="lastNameInput.errors.maxlength">
                            Your last name cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email" [(ngModel)]="userdetails.email" minlength="5" maxlength="254" #emailInput="ngModel" email required>
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger" *ngIf="emailInput.errors.required">
                            Your email is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="emailInput.errors.email">
                            Your email is invalid.
                        </small>
                        <small class="form-text text-danger" *ngIf="emailInput.errors.minlength">
                            Your email is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="emailInput.errors.maxlength">
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="address" placeholder="Your address" [(ngModel)]="userdetails.address" #addressInput="ngModel" required>
                    <div *ngIf="addressInput.dirty && addressInput.invalid">
                        <small class="form-text text-danger" *ngIf="addressInput.errors.required">
                            Address is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="phoneNumber">Phone number</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Your phone number" [(ngModel)]="userdetails.phoneNumber" minlength=6 pattern="^[0-9]*$" #phoneNumberInput="ngModel" required>
                    <div *ngIf="phoneNumberInput.dirty && phoneNumberInput.invalid">
                        <small class="form-text text-danger" *ngIf="phoneNumberInput.errors.required">
                            Your phone number is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="phoneNumberInput.errors.minlength">
                            Your phone number is required to be at least 6 character.
                        </small>
                        <small class="form-text text-danger" *ngIf="phoneNumberInput.errors.pattern">
                            Your phone number can only contain digits.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="settingsForm.form.invalid" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>

</div>