<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userdetails">
            <h2><span>Userdetails</span> {{userdetails.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{userdetails.firstName}}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{userdetails.lastName}}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{userdetails.address}}</span>
                </dd>
                <dt><span>Phone Number</span></dt>
                <dd>
                    <span>{{userdetails.phoneNumber}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{userdetails.email}}</span>
                </dd>
                <dt><span>Account Id</span></dt>
                <dd>
                    <span>{{userdetails.accountId}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/userdetails', userdetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
